body {
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-size: 12px;

	padding-left: 10px;
	border-bottom: solid 1px #DDD;
}

.container {
	display: -webkit-box;
	display: -moz-box;
	display: ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;
	-webkit-box-direction: column;
	-moz-box-direction: column;
	ms-flexbox-direction: column;
	-webkit-flex-direction: column;

	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;

	padding-top: 30px;

	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
	color: #555;
}

#error {
	width: 100%;
	position: absolute;
	margin-top: -22px;
	padding: 10px 0;

	text-align: center;
	color: #FA8072;
}

#prompt {
	text-align: center;
	font-size: 22px;
}

label {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: ms-flexbox;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-box-direction: row;
	-moz-box-direction: row;
	ms-flexbox-direction: row;
	-webkit-flex-direction: row;

	margin: 0 auto 16px 0;

}

label span {
	flex-grow: 1;
	-webkit-box-grow: 1;
	-moz-box-grow: 1;
	ms-flexbox-grow: 1;
	-webkit-flex-grow: 1;

  font-size: 22px;
  text-align: center;

  border: solid 5px #DDD;
  border-right: none;
  margin-right: -2px;
  padding: 15px 10px 10px 10px;
  background-color: #DDD;
}

input {
  height: 36px;
  padding: 10px 10px;
  font-size: 18px;
  border: solid 5px #DDD;
  transition: border 0.3s;

  font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
}

input:focus {
  outline: none;
  border: solid 5px #AAA;
}

input[disabled] {
  cursor: not-allowed;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F8F8FF inset;
}

button {
	width: 400px;
	margin: auto 0;
	display: block;
	padding: 20px 20px;

  border-radius: 6px;
  background-color: #4169E1;
  text-align: center;
  cursor: pointer;
  border: none;

  font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
  color: #fff;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: #6495ED;
}

@media screen and (max-width: 520px) {
	.container {
		padding-top: 80px;
	}

	#error {
		margin-top: -50px;
	}
}
